/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : Jan 15, 2018, 10:19:41 AM
    Author     : Mark Patterson
*/

.hideDiv {
    visibility: hidden;
}

.showDiv {
    visibility: visible;
}


#mainBarContent {
  position: relative;
  width: 90%;
  height: 90%;
}

#coursesContent {
    position: absolute;
    border-style: groove;
    border-color: #00293a;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%
}

#accountsContent {
    position: absolute;
    border-style: groove;
    border-color: #00293a;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%
}

html, body {
  width: 100%;
  height: 100%;
}

.buttonStyle {
  position: relative;
    font-size: 14pt;
    z-index: 555;
    color: white;
    width: 125px;
    background-color: #00293a;
}

#pageContent {
  width: 100%;
  height: 100%;
  padding-top: 170px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

#flexBox {
  width: 95%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#mainBar {
  width: 850px;
  border-style: groove;
  border-color: #00293a;
  height: 90%;
  background-color: #f3f3f3;
  margin-left: 30px;
  overflow: scroll;
  min-width: 300px;
}

#sideBar {
  border-style: groove;
  border-color: #00293a;
  max-width: 150px;
  min-width: 150px;
  height: 90%;
  background-color: #f3f3f3;
  flex-grow: 1;
  overflow: scroll;
}

#chatBar {
  border-style: groove;
  border-color: #00293a;
  height: 90%;
  min-width: 250px;
  max-width: 350px;
  margin-left: 30px;
  background-color: #f3f3f3;
  flex-grow: 1;
  overflow: scroll;
}

#titleBar {
  position: relative;
  background-color: #00293a;
  color: white;
  height: 50px;
  bottom: 20px;
  text-align: center;
}

#titleText {
  position: relative;
  top: 10px;
}

#sideBarContent {
  margin-left: auto;
  margin-right: auto;
  height: 87%;
  width: 100%;
  font-size: 20pt;
  padding-top: 10px;
}

::-webkit-scrollbar {
  /*Hides scrollbar */
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
