/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : Jan 15, 2018, 10:19:41 AM
    Author     : Mark Patterson
*/

.hideDiv {
    visibility: hidden;
}

.showDiv {
    visibility: visible;
}


#mainBarContent {
  position: relative;
  background-color: red;
  overflow-y: auto;
  width: 90%;
  height: 90%;
  top: 10px;
  max-height: 500px;

}

.buttonStyle2 {
  position: relative;
    font-size: small;
    font-size: 12pt;
    z-index: 555;
    color: white;
    margin-left: 5px;
    width: 90%;
    background-color: #00293a;
}

#searchForm {
  left: 10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
}

#courseButtons {
    position: absolute;
    background-color: #f3f3f3;
    margin-left: 53%;
    width: 46%;
    height: 30%;
}

#addCourse, #removeCourse, #showCourses, #addAccount, #removeAccount, #showAccount {
    position: absolute;
    border-style: groove;
    border-color: #00293a;
    background-color: #f3f3f3;
    margin-left: 53%;
    width: 46%;
    margin-top: 18%;
    height: 67%;
    height: 63%;
}

#coursesContent {
    position: absolute;
    background-color: #f3f3f3;
    min-height: 430px;
    height:100%;
    width: 100%;
    right: 0px;
    bottom: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#accountsContent {
  position: absolute;
  background-color: #f3f3f3;
  min-height: 430px;
  height:100%;
  width: 100%;
  right: 0px;
  bottom: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
    border-style: groove;
    border-color: #00293a;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    min-height: 430px;
}

#accountsContent {
    position: absolute;
    border-style: groove;
    border-color: #00293a;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    min-height: 530px;
}

#mainContent {
    position: absolute;
    border-style: groove;
    border-color: #00293a;
    background-color: #f3f3f3;
    margin-left: 10px;
    height: 88%;
    width: 50%;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
    height: 82%;
    width: 50%;

}

html, body {
  width: 100%;
  height: 100%;
}

.buttonStyle {
  position: relative;
    font-size: small;
    font-size: 14pt;
    z-index: 555;
    color: white;
    width: 125px;
    background-color: #00293a;
}


#flexBox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#mainBar {
  width: 80%;
  margin-left: 30px;
  overflow: hidden;
  max-height: 100%;

#pageContent {
  width: 100%;
  height: 100%;
  padding-top: 170px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

#flexBox {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

}

#mainBar {
  width: 850px;
  border-style: groove;
  border-color: #00293a;
  background-color: #f3f3f3;
  margin-left: 30px;
  overflow: hidden;
  min-width: 300px;
}

#sideBar {
  border-style: groove;
  border-color: #00293a;
  max-width: 150px;
  min-width: 150px;
  background-color: #f3f3f3;
  flex-grow: 1;
  overflow: hidden;
  overflow: scroll;
}

#titleBar {
  position: relative;
  background-color: #00293a;
  color: white;
  height: 50px;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

#titleText {
  position: relative;
  top: 10px;
}

#sideBarContent {
  margin-left: auto;
  margin-right: auto;
  height: 87%;
  width: 100%;
  font-size: medium;
  font-size: 20pt;
  padding-top: 10px;
}

#content browser {
 margin-right: -14px !important;
 overflow-y: scroll;
 overflow-x: hidden;
}

::-webkit-scrollbar {
  /*Hides scrollbar */
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
