@media only screen and (max-width : 1084px)
{
    .chat-popup, .sidebar-name, .chat-sidebar
    {
        display: none !important;
    }
}
.hideDiv {
    display: none;
}
.showDiv {
    display: block;
}
body
{
    background-color: #e9eaed;
}
#innerDiv {
  overflow-y: auto;
  width: 112%;
  height: 94%;
  margin-top: 5px;
  background-color: #f9f9f9;
  border-color: #d9dbdd;
  position: absolute;
  margin-bottom: 0px;
  overflow-x: hidden;
}
#chatTitle {
  background-color: #00293a;
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
  border-style: none;
  width: 90%;
  border-radius: 4px;
}
.chat-sidebar
{
  overflow: hidden;
    background-color: #f9f9f9;
    width: 12%;
    position: fixed;
    height: 82%;
    top: 53px;
    right: 5px;
    margin-top: 48px;
    margin-bottom: 150px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name
{
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}

.sidebar-name span
{
    padding-left: 5px;
}

.sidebar-name a
{
    display: block;
    height: 100%;
    text-decoration: none;
    color: #00293a;
}

.sidebar-name:hover
{
    width: 120%;
    background-color:#e1e2e5;
    padding-left: 20px;
}

.sidebar-name img
{
    width: 32px;
    height: 32px;
    vertical-align:middle;
}

.sidebar-heading
{
    text-align:center;
    color:#00293a;
}

.popup-box
{
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    height: 285px;
    margin-bottom: 40px;
    background-color: rgb(237, 239, 244);
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.popup-box .popup-head
{
    background-color: #00293a;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-box .popup-head .popup-head-left
{
    float: left;
}

.popup-box .popup-head .popup-head-right
{
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a
{
    text-decoration: none;
    color: inherit;
}

.popup-box .popup-messages
{
    height: 73.5%;
    overflow-y: scroll;
}

.text-bar{
  width:100%;
  border:1px solid #fff;
  resize: none;
}

container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 600px;
}

.datestamp {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  color: #8b91a0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}

/** ios1-ios6 bubbles **/
.bubble {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;

  background: #95c2fd;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #95c2fd));
  background-image: -webkit-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -o-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#95c2fd', endColorstr='#bee2ff');

  border: solid 1px rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);

  margin-bottom: 20px;
  padding: 6px 20px;
  color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  word-wrap: break-word;
}

.bubble:before, .bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
}
.bubble:before {
  border: 10px solid transparent;
  border-bottom-color: rgba(0,0,0,0.5);
  bottom: 0px;
  left: -7px;
  z-index: -2;
}
.bubble:after {
  border: 8px solid transparent;
  border-bottom-color: #bee2ff; /* arrow color */
  bottom: 1px;
  left: -5px;
}

.bubble-alt {
  float: right;
}
.bubble-alt:before {
  left: auto;
  right: -7px;
}
.bubble-alt:after {
  left: auto;
  right: -5px;
}

.bubble p {
  font-size: 1.4em;
}

/* green bubble */
.green {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #ace44b),color-stop(1, #7acd47));
  background-image: -webkit-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: -moz-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: -ms-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: -o-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7acd47', endColorstr='#ace44b');
}
.green:after {
  border-bottom-color: #ace44b;
}

/* white bubble */
.white {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #e5e5e5),color-stop(1, #dbdbdb));
  background-image: -webkit-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: -moz-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: -ms-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: -o-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dbdbdb', endColorstr='#e5e5e5');
}
.white:after {
  border-bottom-color: #e5e5e5;
}

/* yellow bubble */
.yellow {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #fcf3c3),color-stop(1, #f4e371));
  background-image: -webkit-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: -moz-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: -ms-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: -o-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4e371', endColorstr='#fcf3c3');
}
.yellow:after {
  border-bottom-color: #fcf3c3;
}

/* red bubble */
.red {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #ea8378),color-stop(1, #e2675a));
  background-image: -webkit-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: -moz-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: -ms-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: -o-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2675a', endColorstr='#ea8378');
}
.red:after {
  border-bottom-color: #ea8378;
}

/* pink bubble */
.pink {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #ffbee3),color-stop(1, #f8a5ce));
  background-image: -webkit-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: -moz-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: -ms-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: -o-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f8a5ce', endColorstr='#ffbee3');
}
.pink:after {
  border-bottom-color: #ffbee3;
}
