/* To change this license header, choose License Headers in Project Properties. To change this template file, choose Tools | Templates and open the template in the editor. */
/* Created on : Jan 15, 2018, 10:19:41 AM Author : Mark Patterson */
 html, body {
     height: 100%;
}
#introText {
    text-align: center;
}
#titleText{
  position: relative;
  line-height: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cbcac5;
}
#introContent{
  margin-top: 20%;
  margin-bottom: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
}
#introLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 40%;
}
#outputContainer {
     position: relative;
     min-height: 620px;
     max-width: 100%;
}
@media only screen and (min-width : 1062px){
    #outputContainer{
      position: relative;
      min-height: 620px;
      max-width: 80%;
    }
}
display: table;
   table-layout: fixed;
 }
 span {
   margin-left: 20px;
 }
td {
  padding-left: 10px !important;
  border-bottom: solid;
  border-width: 1px;
  border-color: #dddddd;
}
#userLogOut{
  z-index: 1;
  position: relative;
  float: right;
  top: 5px;
  font-size: 8pt;
  margin-right: 5px;
}
#swapDiv {
     position: relative;
}
 .hideDiv {
     visibility: hidden;
}
 .showDiv {
     visibility: visible;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#avatarPreview {
  border-width: 1px;
  border-style: solid;
  border-color: #D8D8D8;
}
 #changePassword, #createTicket, #uploadAvatar, #addContent, #addCourse, #editCourse, #removeCourse, #resetPassword, #addAccount, #editAccount, #viewTickets{
     position: absolute;
     bottom: 0px;
     width: 100%;
     height: 100%;
}
 .form-signin {
     width: 90%;
     max-width: 400px;
     padding: 15px;
     margin: 0 auto;
}
 .form-signin .form-control {
     position: relative;
     font-size: 16px;
     height: auto;
     padding: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .form-signin .form-control:focus {
     z-index: 2;
}
 .form-signin input[type="text"] {
     margin-bottom: -1px;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
}
 .form-signin input[type="password"] {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
}
 .account-wall {
     margin-top: 40px;
     padding: 40px 0px 20px 0px;
     margin-bottom: 40px;
     background-color: #FFFFFF;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
 .login-title {
     color: #555;
     font-size: 22px;
     font-weight: 400;
     display: block;
}
 .profile-img {
     width: 96px;
     height: 96px;
     margin: 0 auto 10px;
     display: block;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}
 .select-img {
     border-radius: 50%;
     display: block;
     height: 75px;
     margin: 0 30px 10px;
     width: 75px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}
 .select-name {
     display: block;
     margin: 30px 10px 10px;
}

 .logo-img {
     width: 96px;
     height: 96px;
     margin: 0 auto 10px;
     display: block;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

 #AdmiralSnackbar {
     visibility: hidden;
    /* Hidden by default. Visible on click */
     min-width: 250px;
    /* Set a default minimum width */
     margin-left: -125px;
    /* Divide value of min-width by 2 */
     background-color: #00293a;
    /* Black background color */
     border-style: solid;
     border-width: 1px;
     border-color: white;
     color: #fff;
    /* White text color */
     text-align: center;
    /* Centered text */
     border-radius: 2px;
    /* Rounded borders */
     padding: 16px;
    /* Padding */
     position: fixed;
    /* Sit on top of the screen */
     z-index: 1;
    /* Add a z-index if needed */
     left: 50%;
    /* Center the snackbar */
     bottom: 30px;
    /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
 #AdmiralSnackbar.show {
     visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. However, delay the fade out process for 2.5 seconds */
     -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
     animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
 @-webkit-keyframes fadein {
     from {
        bottom: 0;
         opacity: 0;
    }
     to {
        bottom: 30px;
         opacity: 1;
    }
}
 @keyframes fadein {
     from {
        bottom: 0;
         opacity: 0;
    }
     to {
        bottom: 30px;
         opacity: 1;
    }
}
 @-webkit-keyframes fadeout {
     from {
        bottom: 30px;
         opacity: 1;
    }
     to {
        bottom: 0;
         opacity: 0;
    }
}
 @keyframes fadeout {
     from {
        bottom: 30px;
         opacity: 1;
    }
     to {
        bottom: 0;
         opacity: 0;
    }
}
 form {
     width: 20%;
     margin-top: 200px;
     margin-bottom: 200px;
     margin-left: auto;
     margin-right: auto;
}
 .hideDiv {
     visibility: hidden;
}
 .showDiv {
     visibility: visible;
}
 .w3-light-grey {
     padding-top: 25px;
     background-image: url("../Resources/BackGround.png");
     background-size: cover !important;
     background-attachment: fixed !important;
}
 #columnSetup {
     padding-top: 10px;
     padding-bottom: 30px;
}
 .container {
     max-width: 90%;
     min-width: 90%;
     font-size: 12pt;
     color: #00293a;
}
 h1, h2, h3, h4, h5, h6, h7{
     color: #00293a;
}
 html, body {
     width: 100%;
     height: 100%;
     color: #00293a;
}
 #navbar {
     background-color: #00293a;
}
 #columnSetup {
     position: relative;
     top: 20px;
     color: #00293a;
}
 .container {
     max-width: 90%;
     min-width: 90%;
     font-size: 12pt;
     color: #00293a;
}
 .buttonStyle {
     position: relative;
     font-size: 14pt;
     z-index: 555;
     color: white;
     width: 125px;
     background-color: #00293a;
}
 #pageContent {
     max-width: 80%;
     height: 100%;
     padding-top: 170px;
     margin-left: auto !important;
     margin-right: auto !important;
     text-align: center;
}
 #flexBox {
     width: 95%;
     height: 90%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
}
 #mainBar {
     border-style: groove;
     border-color: #00293a;
     height: 90%;
     background-color: #f3f3f3;
     margin-left: 30px;
    z overflow: scroll;
     min-width: 500px;
     flex-grow: 2;
}
 .glyphicon {
     margin-right:10px;
}
 .panel-body {
     padding:0px;
}
 .panel-body table tr td {
     padding-left: 1px
}
 .panel-body .table {
    margin-bottom: 0px;
}
 #sideBar {
     border-style: groove;
     border-color: #00293a;
     max-width: 250px;
     min-width: 250px;
     height: 90%;
     background-color: #f3f3f3;
     flex-grow: 1;
     overflow: scroll;
}
 #titleBar {
     position: relative;
     background-color: #00293a;
     color: white;
     height: 50px;
     bottom: 20px;
     text-align: center;
}
 #titleText {
     position: relative;
     top: 10px;
}
 #sideBarContent {
     position: relative;
     margin-left: auto;
     margin-right: auto;
     z-index: 1;
     width: 100%;
     font-size: 20pt;
}
 #mainBarContent {
     margin-left: auto;
     margin-right: auto;
     height: 87%;
     width: 80%;
}
 #formContainer {
     width: 100%;
}
