

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2018, 10:19:41 AM
    Author     : Mark Patterson
*/

            html, body {
                width: 100%;
                height: 100%;
                background-image: url("../Resources/BackGround.png");
                position: fixed;
		background-size: cover !important;
		background-attachment: fixed !important;
                overflow-x: hidden;
                /*overflow-y: hidden;*/
            }z
            
            #pageContent{
                width: 70%;
                padding-top: 170px;
                margin-left: auto !important;
                margin-right: auto !important;
                text-align: center;
            }
            
            
            
            
            
            
