/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : Jan 15, 2018, 10:19:41 AM
    A00%;uthor     : Mark Patterson
*/
.btn-custom {
  color: white;
  background-color: #00293a;
  position: relative;
  top: 16px;
}
#AvatarImg{
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
#avatar{
  position: absolute;
  display: inline;
  top: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
#nameDisplay {
  margin-top: 50px;
}
#nav {
  background-color: #00293a;
  color: white;
}
#logoImg {
  position: relative;
  bottom: 2px;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
}
#logOutButton {
  position: relative;
  bottom: 0px;
  float: right;
}
#navBar {
  background-color: #00293a;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 65px;
}
#daBrand {
  position: relative;
  bottom: 63px;
  left: 440px;
}
#ID {
  color: white;
  position: relative;
  bottom: 70px;
  margin-left: 85%;
}
#Name {
  font-size: 14pt;
  position: relative;
  top: 40px;
  right: 140px;
}
#Type {
  font-size: 10pt;
  position: relative;
  top: 27px;
  left: 70px;
}
#HeaderContent {
  position: relative;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  bottom: 150px;
}
#HeaderBack {
  width: 100%;
  position: absolute;
}
#homeButton {
  margin-top: 20px;
}
li {
  float: left;
  list-style-type: none;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#indexHeader {
  position: relative;
  background-color: #00293a;
  width: 100%;
  height: 55px;
  bottom: 70px;
}
#indexLogo {
  position: relative;
  top: 10px;
  left: 10px;
}
li:hover {
  color: white;
}
li a:hover {
  color: white;
  background-color: #00293a;
}
