

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2018, 10:19:41 AM
    Author     : Mark Patterson
*/
            
            
            #logo {
                position: absolute;
            }

            #mainContainer{
                
                height: 550px;
                width: 700px;
                margin-top: 300px;
                margin-left: auto;
                margin-right: auto;
            }
            
            #buttonTable {
                position: relative;
                top: 310px;
                left: 90px;
            }
            
            #description {
                text-align: center;
                position: relative;
                width: 570px;
                left: 60px;
                top: 330px;
            }
            
            
