/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : Jan 15, 2018, 10:19:41 AM
    Author     : Mark Patterson
*/

#buttonTable {
  position: absolute;
  top: 300px;
  right: 0px;
}

#logDiv {
  height: 1px;
  width: 550px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#loginForm {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

#description {
  text-align: center;
  position: relative;
  width: 500px;
  left: 20px;
  top: 50px;
  padding-bottom: 50px;
}
